<!DOCTYPE HTML>

<html>
	<head>
		<title>Sobre nosotros</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="home.php">IVELITE</a> tu agencia de viajes.</h1>
					<nav id="nav">
						<ul>
							<li>
								<a href="#" class="icon solid fa-angle-down">Menú</a>
								<ul>
									<li><a href="buscador.html">Buscador</a></li>
									<li><a href="contacto.html">Contacto</a></li>
									<li><a href="foro.html">Foro</a></li>
									<li><a href="nosotros.html">Sobre nosotros</a></li>
									<li><a href="guiasturisticas.html">Guias Turisticas</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Nuestro equipo</h2>
						<p>Una descripción de los miembros de neustro equipo y nuestra historia</p>
					</header>
					<div class="row">
						<div class="col-12">

							<!-- Text -->
								<section class="box">
									<h3>Nosotros</h3>
									<p>Esto son nuestros <b>miembros</b> y nuestra <strong>historia</strong>. 
									<hr />

									<header>
										<h3>hola soy Javier</h3>
										<p>estudiante y pensador</p>
									</header>
									<p>mi historia interesante.</p>
									<header>
										<h3>hola soy Daniela</h3>
										<p>estudiante e inventora</p>
									</header>
									<p>mi historia interesante.</p>
									<header>
										<h3>hola soy Iker</h3>
										<p>estudiante y vividor</p>
									</header>
									<p>mi historia interesante.</p>
									<header>
										<h3>hola soy Pablo</h3>
										<p>estudiante y filósofo</p>
									</header>
									<p>mi historia interesante.</p>
									<header>
										<h3>hola soy Cintia</h3>
										<p>estudiante y aburrida</p>
									</header>
									<p>mi historia interesante.</p>

									
									
									<blockquote>Estamos en obras...</blockquote>
								</section>

						</div>
					</div>
					<div class="row">
						<div class="col-12">

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</footer>
			<!-- end Footer -->

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>