.centro {
    text-align: center;
}

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }  

  .mySlides {
    display:none
  }
	.w3-left, .w3-right, .w3-badge {
    cursor:pointer
  }
	.w3-badge {
    height:15px;
    width: 05px;
    /*padding:0*/
  }