#menu ul {
  padding: 15px;
  overflow: hidden;
  background-color: #0C0D0F;
}

.logo{
  float: left;
  margin-bottom: 10px;
}

#menu li {
  float: right;
}

#menu li a {
    display: block;
    color: white;
    background-color: black;
    text-align: left;
    padding: 15px 85px;
    text-decoration: none;
}

#menu li a:hover {
  background-color: #0C0D0F;
}

#idlogopeque {
	vertical-align: middle;
}

.container {
	margin: 5px;
}